<?xml version="1.0" encoding="UTF-8"?>
<plugin id="cordova-plugin-webdav" version="0.1.0" xmlns="http://apache.org/cordova/ns/plugins/1.0">
  <name>cordova-plugin-webdav</name>
  
  <js-module name="webdav" src="www/webdav.js">
    <clobbers target="cordova.plugins.webdav" />
  </js-module>

  <platform name="ios">

    <config-file parent="/*" target="config.xml">
      <feature name="Webdav">
        <param name="ios-package" value="Webdav" />
      </feature>
    </config-file>

    <source-file src="src/ios/wMain.swift" />
    <source-file src="src/ios/wWebdavReq.swift" />
    <source-file src="src/ios/wXmlParser.swift" />
    <dependency id="cordova-plugin-add-swift-support" url="https://github.com/akofman/cordova-plugin-add-swift-support"/>
  </platform>

</plugin>